@page "/"
@page "/category/{categoryname}"
@page "/search/"

<PageTitle>prozolicの技術ブログかもしれない</PageTitle>

<div class="blog-posts">
	<h2>@SearchResultText</h2>

	@foreach (var post in Posts)
	{
		<article class="post">
			<header>
				<div class="post-meta">
					<time>@post.Date</time>
				</div>
				<h2 class="post-title">
					<a href="@post.Url">@post.Title</a>
				</h2>
			</header>
			<div class="view-category-area">
				<div class="view-category">
					@foreach (var category in post.Categories)
					{
						<a href="/category/@category" class="view-category-item">@category</a>
					}
				</div>
			</div>
			<div class="post-excerpt">
				@post.HeadText
			</div>
			<div class="post-actions">
				<a href="@post.Url" class="read-more">続きを読む</a>
			</div>
		</article>
	}
</div>
