@inherits LayoutComponentBase

<div class="page">
    <header class="header">
        <div class="container">
            <h1 class="logo">
				<a href="">prozolicの技術ブログかもしれない</a>
            </h1>
        </div>
    </header>

    <main class="main">
        <div class="container">
            <div class="content-wrapper">
                <div class="main-content">
                    @Body
                    
                    <div class="post-navigation">
                        <div class="nav-link nav-prev">
                            @if (PreviousPost != null)
                            {
								<a href="@PreviousPost.Value.Url" class="nav-button">
                                    <span class="nav-direction">← 前の記事</span>
									<span class="nav-title">@PreviousPost.Value.Title</span>
                                </a>
                            }
                        </div>
                        <div class="nav-link nav-next">
                            @if (NextPost != null)
                            {
                                <a href="@NextPost.Value.Url" class="nav-button">
                                    <span class="nav-direction">次の記事 →</span>
									<span class="nav-title">@NextPost.Value.Title</span>
                                </a>
                            }
                        </div>
                    </div>
                </div>
                <aside class="sidebar">
                    <div class="profile-section">
                        <h3>プロフィール</h3>
                        <div class="profile-content">
                            <div class="profile-info">
								<h4><img src="favicon.ico" alt="Profile Icon" class="profile-icon" /> @Name</h4>
								<p>@Description</p>
								<p>GitHub: <a href=@GithubUrl>@GithubUrl</a></p>
								<p>このブログのソースコード: <a href=@BlogSourceUrl>@BlogSourceUrl</a></p>
                            </div>
                        </div>
                    </div>
                    
                    <div class="recent-posts-section">
                        <h3>最新記事</h3>
                        <div class="recent-posts">
							@foreach (var post in PostProvider.LatestPosts.AsSpan())
                            {
                                <div class="recent-post-item">
                                    <a href="@post.Url" class="recent-post-title">@post.Title</a>
                                    <div class="recent-post-date">@post.Date</div>
                                </div>
                            }
                        </div>
                    </div>
                </aside>
            </div>
        </div>
    </main>

    <footer class="footer">
        <div class="container">
            <p>&copy; 2025 prozolic. All rights reserved.</p>
        </div>
    </footer>
</div>
